@model IEnumerable<AionRhC_.Models.ColaboradoresViewModel>

@{
    ViewData["Title"] = "Index";
}

<header class="cabecalho-colaboradores">
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
            <!-- Botão estilizado para combinar com o botão do Ionic -->
            <button type="button" class=" custom-cadastrar-btn">
                <a asp-action="Create" class="botao-cadastrar">Novo Colaborador</a>
            </button>
            <div class="logo"><h1><strong>Colaboradores</strong></h1></div>
            <button class="btn btn-logout" onclick="logout()">
            </button>
        </div>
    </nav>
</header>
<div class="modal fade" id="editColaboradorModal" tabindex="-1" aria-labelledby="editColaboradorModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xxl" role="document">
        <div class="modal-content" style="border-radius: 25px; border: 2px solid #ccc;">
            <div class="modal-header text-center" style="background-color: #6d197b; border-top-left-radius: 25px; border-top-right-radius: 25px;">
                <h5 class="modal-title" id="editColaboradorModalLabel" style="color: white;">Editar Colaborador</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="editColaboradorForm">
                    <input type="hidden" id="colaboradorId">
                    <div class="row">
                        <div class="mb-3 col-6">
                            <label for="colaboradorNome" class="form-label">Nome</label>
                            <input type="text" class="form-control" id="colaboradorNome" required>
                        </div>

                        <div class="mb-3 col-6">
                            <label for="colaboradorCargo" class="form-label">Cargo</label>
                            <input type="text" class="form-control" id="colaboradorCargo">
                        </div>
                    </div>

                    <div class="row">
                        <div class="mb-3 col-6">
                            <label for="colaboradorMatricula" class="form-label">Matrícula</label>
                            <input type="text" class="form-control" id="colaboradorMatricula">
                        </div>
                        <div class="mb-3 col-6">
                            <label for="colaboradorSetor" class="form-label">Setor</label>
                            <input type="text" class="form-control" id="colaboradorSetor">
                        </div>
                    </div>

                    <div class="row">
                        <div class="mb-3 col-6">
                            <label for="colaboradorSituacao" class="form-label">Situação</label>
                            <input type="text" class="form-control" id="colaboradorSituacao">
                        </div>

                        <div class="mb-3 col-6">
                            <label for="colaboradorEmail" class="form-label">E-mail</label>
                            <input type="email" class="form-control" id="colaboradorEmail">
                        </div>
                    </div>

                    <div class="row">
                        <div class="mb-3 col-6">
                            <label for="colaboradorTelefone" class="form-label">Telefone</label>
                            <input type="text" class="form-control" id="colaboradorTelefone">
                        </div>

                        <div class="mb-3 col-6">
                            <label for="colaboradorDataAdmissao" class="form-label">Data de Admissão</label>
                            <input type="date" class="form-control" id="colaboradorDataAdmissao">
                        </div>
                    </div>
                    <hr />
                    <h3 class="mt-4">Advertências</h3>
                    <div class="table-responsive">
                        <table class="table table-bordered" id="advertenciasTable">
                            <thead>
                                <tr>
                                    <th>Data</th>
                                    <th>Data de Vencimento</th>
                                    <th>Observação</th>
                                    <th>Ações</th>
                                </tr>
                            </thead>
                            <tbody id="advertenciasTableBody">
                            </tbody>
                        </table>
                    </div>

                    <!-- Botão para adicionar advertência -->
                    <button type="button" class="btn btn-primary mt-2" id="addAdvertenciaBtn">Adicionar Advertência</button>
                    <button type="submit" class="btn btn-primary">Salvar Alterações</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="d-flex justify-content-center">
    <table class="table w-100">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.Nome)</th>
                <th>@Html.DisplayNameFor(model => model.Cargo)</th>
                <th>@Html.DisplayNameFor(model => model.Matricula)</th>
                <th>@Html.DisplayNameFor(model => model.Setor)</th>
                <th>@Html.DisplayNameFor(model => model.Situacao)</th>
                <th>@Html.DisplayNameFor(model => model.Email)</th>
                <th>@Html.DisplayNameFor(model => model.Telefone)</th>
                <th>@Html.DisplayNameFor(model => model.DataAdmissao)</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr ondblclick="editarColaborador('@item.Id')">
                    <td>@Html.DisplayFor(modelItem => item.Nome)</td>
                    <td>@Html.DisplayFor(modelItem => item.Cargo)</td>
                    <td>@Html.DisplayFor(modelItem => item.Matricula)</td>
                    <td>@Html.DisplayFor(modelItem => item.Setor)</td>
                    <td>@Html.DisplayFor(modelItem => item.Situacao)</td>
                    <td>@Html.DisplayFor(modelItem => item.Email)</td>
                    <td>@Html.DisplayFor(modelItem => item.Telefone)</td>
                    <td>@Html.DisplayFor(modelItem => item.DataAdmissao)</td>
                    <td>
                        <button class="btn btn-link text-danger" title="Deletar" data-bs-toggle="modal" data-bs-target="#deleteModal"
                                data-id="@item.Id" data-nome="@item.Nome">
                            <i class="bi bi-trash-fill"></i>
                        </button>
                    </td>
                </tr>
            }
        </tbody>

    </table>
</div>

<!-- Modal de Confirmação de Exclusão -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Confirmar Exclusão</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Tem certeza de que deseja excluir <strong id="colaboradorNome"></strong>?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <form id="deleteForm" method="post">
                    <button type="submit" class="btn btn-danger">Excluir</button>
                </form>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @* Script para preencher os dados da modal de exclusão *@
    <script>
        const deleteModal = document.getElementById('deleteModal');
        deleteModal.addEventListener('show.bs.modal', function (event) {
            const button = event.relatedTarget; // Botão que acionou a modal
            const id = button.getAttribute('data-id'); // ID do colaborador
            const nome = button.getAttribute('data-nome'); // Nome do colaborador

            // Preencher o nome do colaborador na modal
            const nomeElement = document.getElementById('colaboradorNome');
            nomeElement.textContent = nome;

            // Atualizar a ação do formulário com o ID do colaborador.
            const form = document.getElementById('deleteForm');
            form.action = '/Colaborador/Delete/' + id;
        });

        function editarColaborador(id) {
            $.ajax({
                url: '/Colaborador/Details/' + id,
                type: 'GET',
                success: function (data) {
                    $('#colaboradorId').val(data.id);
                    $('#colaboradorNome').val(data.nome);
                    $('#colaboradorCargo').val(data.cargo);
                    $('#colaboradorMatricula').val(data.matricula);
                    $('#colaboradorSetor').val(data.setor);
                    $('#colaboradorSituacao').val(data.situacao);
                    $('#colaboradorEmail').val(data.email);
                    $('#colaboradorTelefone').val(data.telefone);
                    $('#colaboradorDataAdmissao').val(data.dataAdmissao.split('T')[0]);  // Ajuste para o formato 'yyyy-MM-dd'

                    // Verificar se 'advertencias' existe antes de tentar iterar
                    let advertenciasHtml = '';
                    if (data.advertencias && Array.isArray(data.advertencias)) {
                        data.advertencias.forEach(function (advertencia, index) {
                            console.log("Advertência carregada:", advertencia);
                            let dataFormatada = advertencia.data ? advertencia.data.split('T')[0] : '';
                            let dataVencimentoFormatada = advertencia.dataVencimento ? advertencia.dataVencimento.split('T')[0] : '';

                            advertenciasHtml += `
                                        <tr>
                                            <td>${dataFormatada}</td>
                                            <td>${dataVencimentoFormatada}</td>
                                            <td>${advertencia.observacao}</td>
                                            <td>
                                                <button class="btn btn-danger btn-sm" onclick="removerAdvertencia('${advertencia.id}')">Excluir</button>
                                            </td>
                                        </tr>
                                    `;
                        });

                    } else {
                        advertenciasHtml = '<tr><td colspan="4">Nenhuma advertência registrada.</td></tr>';
                    }

                    $('#advertenciasTableBody').html(advertenciasHtml);
                    $('#editColaboradorModal').modal('show');
                }
            });
        }

        function removerAdvertencia(id) {

            if (!id || id === "0") {
                alert("ID da advertência inválido.");
                return;
            }

            $.ajax({
                url: '/Colaborador/RemoverAdvertencia/' + id,
                type: 'DELETE',
                success: function () {
                    alert("Advertência removida com sucesso!");
                    location.reload();
                },
                error: function () {
                    alert("Erro ao remover advertência.");
                }
            });
        }

        // Adicionar nova advertência
        $('#addAdvertenciaBtn').click(function () {
            let newRow = `
                                                                                <tr>
                                                                                    <td><input type="date" class="form-control advertenciaData"></td>
                                                                                    <td><input type="date" class="form-control advertenciaDataVencimento"></td>
                                                                                    <td><input type="text" class="form-control advertenciaObservacao"></td>
                                                                                    <td>
                                                                                            <button type="button" class="btn btn-success btn-sm salvarAdvertencia">Salvar</button>
                                                                                            <button type="button" class="btn btn-danger btn-sm removeAdvertencia">Excluir</button>
                                                                                    </td>
                                                                                </tr>`;
            $('#advertenciasTableBody').append(newRow);
        });

        // Ajusta a data de vencimento automaticamente para 3 anos depois
        $(document).on('change', '.advertenciaData', function () {
            ajustarDataVencimento($(this));
        });

        // Função para calcular a data de vencimento
        function ajustarDataVencimento(inputData) {
            let dataSelecionada = new Date(inputData.val());

            if (!isNaN(dataSelecionada.getTime())) {
                dataSelecionada.setFullYear(dataSelecionada.getFullYear() + 3);
                let dataFormatada = dataSelecionada.toISOString().split('T')[0]; // Formato YYYY-MM-DD
                inputData.closest('tr').find('.advertenciaDataVencimento').val(dataFormatada);
            }
        }

        $(document).on('click', '.removeAdvertencia', function () {
            $(this).closest('tr').remove();
        });

        $(document).on('click', '.salvarAdvertencia', function () {
            let row = $(this).closest('tr');
            let advertencia = {
                ColaboradorId: $('#colaboradorId').val(),
                data: row.find('.advertenciaData').val(),
                dataVencimento: row.find('.advertenciaDataVencimento').val(),
                observacao: row.find('.advertenciaObservacao').val()
            };

            $.ajax({
                url: '/Colaborador/AdicionarAdvertencia',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify(advertencia),
                success: function (response) {
                    if (response.success) {
                        alert("Advertência salva com sucesso!");
                        location.reload();
                    } else {
                        alert("Erro ao salvar advertência.");
                    }
                }
            });
        });


        $('#editColaboradorForm').submit(function (e) {
            e.preventDefault();

            var advertencias = [];
            $('#advertenciasTableBody tr').each(function () {
                var data = $(this).find('.advertenciaData').val();
                var dataVencimento = $(this).find('.advertenciaDataVencimento').val();
                var observacao = $(this).find('.advertenciaObservacao').val();

                if (data && dataVencimento && observacao) {
                    advertencias.push({
                        Data: data,
                        DataVencimento: dataVencimento,
                        Observacao: observacao
                    });
                }
            });

            var colaborador = {
                Id: $('#colaboradorId').val(),
                Nome: $('#colaboradorNome').val(),
                Cargo: $('#colaboradorCargo').val(),
                Matricula: $('#colaboradorMatricula').val(),
                Setor: $('#colaboradorSetor').val(),
                Situacao: $('#colaboradorSituacao').val(),
                Email: $('#colaboradorEmail').val(),
                Telefone: $('#colaboradorTelefone').val(),
                DataAdmissao: $('#colaboradorDataAdmissao').val(),
                Advertencias: advertencias
            };

            $.ajax({
                url: '/Colaborador/Edit/' + colaborador.Id,
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify(colaborador),
                success: function () {
                    alert('Colaborador atualizado com sucesso!');
                    location.reload();
                },
                error: function () {
                    alert('Erro ao atualizar colaborador.');
                }
            });
        });
    </script>
}
