@using Domain.Enums
@model IEnumerable<Domain.Entities.Contratos>

@{
    ViewData["Title"] = "Index";
}

<header class="cabecalho-colaboradores">
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
            <button type="button" class=" custom-cadastrar-btn">
                <a asp-action="CriarContrato" class="botao-cadastrar">Novo Contrato</a>
            </button>
            <div class="logo"><h1><strong>Contratos</strong></h1></div>
            <button class="btn btn-logout" onclick="logout()">
            </button>
        </div>
    </nav>
</header>
<div class="modal fade">
    <div class="modal-dialog modal-xxl" role="document">
        <div class="modal-content" style="border-radius: 25px; border: 2px solid #ccc;">
            <div class="modal-header text-center" style="background-color: #6d197b; border-top-left-radius: 25px; border-top-right-radius: 25px;">
                <h5 class="modal-title" id="editColaboradorModalLabel" style="color: white;">Contratos</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="pb-4">
        <div class="tab-content" id="contratosContainer">
            <div class="table-responsive">
                <table class="table" style="background-color: #cbdad5;">
                    <thead>
                        <tr>
                            <th scope="col"> PROCESSO</th>
                            <th scope="col">RESPONSÁVEL</th>
                            <th scope="col">FISCAL DE CONTRATO</th>
                            <th scope="col">RECEBIMENTO DEFINITIVO</th>
                            <th scope="col">EMPRESA</th>
                            <th scope="col">VALOR (R$)</th>
                            <th scope="col">SITUAÇÃO</th>
                            <th scope="col">STATUS</th>
                            <th scope="col">AÇÕES</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var contrato in Model)
                        {
                            <tr>
                                <td class="open-detalhes-modal" data-contrato-id="@contrato.Id">
                                    @contrato.NumeroProcesso
                                </td>
                                <td>@contrato.Responsavel</td>
                                <td>@contrato.Fiscal</td>
                                <td>@contrato.RecebimentoDefinitivo.ToString("dd/MM/yyyy")</td>
                                <td>@contrato.Empresa</td>
                                <td>@string.Format("{0:C}", contrato.Valor)</td>
                                <td>
                                    <span class="badge @(contrato.Situacao == SituacaoContratoEnum.Liquidacao ? "text-danger" : "text-success")">
                                        @contrato.Situacao
                                    </span>
                                </td>
                                <td>
                                    @if (contrato.Ativo == true)
                                    {
                                        <span style="color: green;">
                                            <i class="bi bi-circle-fill"></i> Ativo
                                        </span>
                                    }
                                    else
                                    {
                                        <span style="color: red;">
                                            <i class="bi bi-circle-fill">Inativo</i>
                                        </span>
                                    }
                                </td>
                                <td>
                                    <div class="btn-group" role="group">
                                        <a asp-action="Editar" asp-controller="Contratos" asp-route-id="@contrato.Id"
                                           class="btn text-primary">
                                            <i class="bi bi-pencil-square"></i>
                                        </a>


                                        @if (contrato.Ativo == true)
                                        {
                                            <form asp-action="InativarContrato" asp-controller="Contratos" method="post" style="display:inline;">
                                                @Html.AntiForgeryToken()
                                                <input type="hidden" name="id" value="@contrato.Id" />
                                                <button class="btn-status noselect btn-inativar-contrato">
                                                    <span class="text">Inativar</span>
                                                    <span class="icon">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                             viewBox="0 0 24 24">
                                                            <path d="M24 20.188l-8.315-8.209 8.2-8.282-3.697-3.697-8.212 8.318-8.31-8.203-3.666 3.666 8.321 8.24-8.206 8.313 3.666 3.666 8.237-8.318 8.285 8.203z">
                                                            </path>
                                                        </svg>
                                                    </span>
                                                </button>
                                            </form>
                                        }
                                        else
                                        {
                                            <form asp-action="AtivarContrato" asp-controller="Contratos" method="post" style="display:inline;">
                                                @Html.AntiForgeryToken()
                                                <input type="hidden" name="id" value="@contrato.Id" />
                                                <button class="btn-status noselect btn-ativar-contrato">
                                                    <span class="text">Ativar</span>
                                                    <span class="icon">
                                                        <svg viewBox="0 0 512 512" height="1em"
                                                             xmlns="http://www.w3.org/2000/svg" class="check-solid">
                                                            <path d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM369 209L241 337c-9.4 9.4-24.6 9.4-33.9 0l-64-64c-9.4-9.4-9.4-24.6 0-33.9s24.6-9.4 33.9 0l47 47L335 175c9.4-9.4 24.6-9.4 33.9 0s9.4 24.6 0 33.9z">
                                                            </path>
                                                        </svg>
                                                    </span>
                                                </button>
                                            </form>
                                        }
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div id="modalContainer"></div>

    @section Scripts {
        <script>

            function openModal(targetModal, url, data) {
                // Fechar qualquer modal aberta
                $('.modal').modal('hide');

                $.get(url, data, function (response) {
                    $('#modalContainer').html(response);
                    $(targetModal).modal('show');
                }).fail(function (jqXHR, textStatus, errorThrown) {
                    console.error("Erro ao carregar a modal: " + textStatus, errorThrown);
                    alert("Ocorreu um erro ao carregar os detalhes do contrato.");
                });
            }
          


            $(document).on('click', '.open-detalhes-modal', function (e) {
                e.preventDefault();
                var contratoId = $(this).data('contrato-id');
                var url = '@Url.Action("Details", "Contratos")?id=' + contratoId;
                openModal('#atividadeDetalhesModal', url, { Id: contratoId });
            });

        </script>
    }
